<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true">
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="xdebug.profiler_enable" value="1" />
        <var name="benchmark" value="0" />
        <var name="benchmark_filepath" value="build/logs/benchmark.xml" />
        <var name="spec_filepath" value="build/logs/spec.txt" />
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">tests/functional</directory>
        </testsuite>
        <testsuite name="operation">
            <directory suffix="Test.php">tests/operation</directory>
        </testsuite>
        <testsuite name="stress">
            <directory suffix="Test.php">tests/stress</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="build/logs/junit.xml" />
        <log type="coverage-html" target="build/coverage" title="Base32"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml" />
    </logging>
</phpunit>